@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141414;
}
:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(.active, .btn):hover, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover {
  background-color: #141414;
}
:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):is(summary):not(.active, .btn):focus-visible, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):is(summary):not(.active, .btn):focus-visible{
  background-color: #FFD11A !important;
  color: #141414 !important;
  font-weight: 600 !important;
}
.menu li > *:not(ul, .menu-title, details, .btn):active{
  background-color: #FFD11A !important;
  color: #141414 !important;
  font-weight: 600 !important;
}

.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-hor-right {
0% {
-webkit-transform: scaleX(0);
    transform: scaleX(0);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
100% {
-webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
}
@keyframes scale-in-hor-right {
0% {
-webkit-transform: scaleX(0);
    transform: scaleX(0);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
100% {
-webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
}



.slide-out-right {
  -webkit-animation: slide-out-right 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-right 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-right {
0% {
-webkit-transform: translateX(0);
    transform: translateX(0);
opacity: 1;
}
99.5%{
width: 0;
}
100% {
-webkit-transform: translateX(1000px);
    transform: translateX(1000px);
opacity: 0;

}
}
@keyframes slide-out-right {
0% {
-webkit-transform: translateX(0);
    transform: translateX(0);
opacity: 1;
}

100% {
width: 0;
display: none;

}
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 



    body {
      --sb-track-color: #141414;
      --sb-thumb-color: #FFD11A;
      /* --sb-size: 12px; */
    }
    
    body::-webkit-scrollbar {
      width: var(--sb-size)
    }
    
    body::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 1px;
    }
    
    body::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
    }